<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/Style.css" />
    <title>Login Form</title>
</head>
<body>

    <div class="login-wrapper">
        <form action="#" class="form">
            <h2>Login</h2>

            <div class="input-field">
                <input type="email" id="email" required />
                <label for="email">Enter your email</label>
            </div>

            <div class="input-field">
                <input type="password" id="password" required />
                <label for="password">Enter your password</label>
            </div>

            <div class="password-option">
                <label for="remember">
                    <input type="checkbox" id="remember" />
                    <p>Remember me</p>
                </label>
                <a href="http://127.0.0.1:5500/Forgot.html">Forgot Password?</a>
            </div>

            <button type="submit"><a href="http://127.0.0.1:5500/Dash.html" class="a">Log In</a></button>

            <div class="account-option">
                <p>Don't have an account?
                    <a href="http://127.0.0.1:5500/signup.html">Register</a>
                </p>
            </div>
        </form>
    </div>

</body>
</html>
